Package: rcontrol-client
Version: %VERSION%
Architecture: %ARCHITECTURE%
Maintainer: Iakov Gubin <yawapz@gmail.com>
Installed-Size: %INSTALLED_SIZE%
Depends: %DEPENDS%
Section: net
Priority: standard
Homepage:
Description: GPU control system
