.input-form 
{
    margin: 0 auto;
    background:linear-gradient(45deg,white, #38d9a9);
    box-shadow: 0px 8px 14px 12px rgba(56, 56, 56, 0.05);
    text-shadow: 1px 1px 1px #787878;
    color: #fff;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 30%;
    height: 70%;
    max-height: 500px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#input-form-text
{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-weight: 600;
    align-items: center;
}

.input-form-block
{
    width: 80%;
    height: 100px;
    margin: 5px;
}

#loginInput, #passwordInput
{
    margin: 1px;
    width: 100%;
    height: 30%;
    text-align: center;
    font-size: 22px;
    border: 2px solid transparent;
    border-radius: 5px;
}

#passwordInput
{
    color: #38d9a9;
    font-size: 22px;
}

#loginInput:hover, #passwordInput:hover
{
    border: 2px solid #38d9a9;
}

#loginInput:focus, #passwordInput:focus 
{
    background-color: white;
    outline: 0;
    border-color: #38d9a9;
}

#btn-block
{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 20%;
}

#login, #registration
{
    margin: 5px;
    width: 100%;
    height: 35%;
    text-align: center;
    font-size: 22px;
    border: 5px solid transparent;
    border-radius: 5px;
    background-color: white;
    color: #38d9a9;
}

#login:hover, #registration:hover
{
    background-color: #38d9a9;
    color: white;   
    cursor: pointer;
}

.input-form-comment
{
    margin-left: 20px;
    text-align: left;
    color: #38d9a9;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cover
{
    position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.25);
	display: flex;
	align-items: center;
	justify-content: center;
}

.cover-hidden
{
    display: none;
}

#reg
{
    cursor: pointer;
}

.reg-active
{
    color: #a80000;
}

#reg:hover
{
    color: #a80000;
}

#messageBox-popup
{
    margin: 0 auto;
	background: #FFFFFF;
	box-shadow: 0px 8px 14px 12px rgba(56, 56, 56, 0.05);
	border-radius: 10px;
	max-width: 600px;
	width: 100%;
	padding: 20px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
    font-size: 24px;
    font-weight: 500;
    gap: 50px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#messageBox-button
{
    position: absolute;
	right: 15px;
	top: 15px;
	border: none;
	background: none;
	cursor: pointer;
}